*
!.gitignore

!nvim/
!nvim/**

!fish
!fish/**
fish/fish_variables

!.ripgreprc

!tmux
!tmux/**

!bootstrap-fingerprint.sh

!system
!system/**

!git
!git/**

!docs
!docs/**

!sway
!sway/**
sway/outputs/
sway/outputs/**

!ghostty
!ghostty/**

!AGENTS.md

!btop
!btop/**

!scripts
!scripts/**
