*
!.gitignore

!nvim/
!nvim/**

!fish
!fish/**
fish/fish_variables

!.ripgreprc

!tmux
!tmux/**

!bootstrap.sh
!bootstrap-fingerprint.sh

!system
!system/**

!git
!git/**

!docs
!docs/**

!sway
!sway/**

!ghostty
!ghostty/**

!AGENTS.md
